.row-custom {
    height: 800px;
}
.card {
    width: 70px;
    height: 70px;
}

.card-img-top {
    max-width: 100%;
    max-height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.money input:checked ~ .coin {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(25,128,217,1) 100%);
}

.money input {
    display: none;
}
.coin {
    background: lightgrey;
    padding: 10px;
    border: 2px solid transparent;
    width: 70px;
    cursor: pointer;
    height: 70px;
    transition: background 0.9s ease;
}

.btn-custom {
    background: lightgrey;
    padding: 10px;
    border: 2px solid transparent;
    width: 70px;
    transition: 0.7s;
}

.btn-custom:hover {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(25,128,217,1) 100%);
    transition: 0.7s;
}

.btn-custom :active {
    background: white;
    transition: 0.7s;
}

#orderNumber, #amount {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(25,128,217,1) 100%);
    color: white;
    width: 200px;
}

.container {
    height: 800px;
}

.bg-custom {
    background: rgb(14,15,73);
    background: linear-gradient(90deg, rgba(14,15,73,1) 4%, rgba(59,27,69,1) 100%, rgba(8,0,36,1) 100%, rgba(31,48,30,1) 100%);
}

.col-2 {
    transition: 0.7s;
    color: white;
}

.item {
    transition: background 0.7s ease;
}

.item:hover {
    background: white;
    color: black;
}

.logo {
    text-decoration: none;
    color: black;
}

.coin:hover
{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(25,128,217,1) 100%);
}
